<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<title>Form</title>
</head>
<body id="form">
    <div id="container">
    <header>
        <h1>Mad Libs</h1>
    </header>
    <main>
        <form action="/story" method="post">
            <h2>Story Time!</h2>
            <fieldset>
                <legend>Please enter adjectives</legend>
                <label>Adjective 1:</label><input type="text" name="adj1">
                <label>Adjective 2:</label><input type="text" name="adj2">
                <label>Adjective 3:</label><input type="text" name="adj3">
                <label>Adjective 4:</label><input type="text" name="adj4">
            </fieldset>
            <br/>
            <fieldset>    
                <legend>Please enter verbs</legend>
                <label>Verb 1:</label><input type="text" name="verb1"><br>
                <label>Verb 2:</label><input type="text" name="verb2"><br>
                <label>Verb 3:</label><input type="text" name="verb3"><br>
            </fieldset>
            <br/>
            <fieldset>
                <legend>Please enter noun</legend>
                <label>Noun 1: </label><input type="text" name="noun1">
                <label>Noun 2: </label><input type="text" name="noun2">
                <label>Noun 3: </label><input type="text" name="noun3">
                <label>Noun 4: </label><input type="text" name="noun4">
                <label>Noun 5: </label><input type="text" name="noun5">
                <label>Noun 6: </label><input type="text" name="noun6">
            </fieldset>
            <br/>
            <fieldset>
                <legend>Please enter proper nouns</legend>
                <label>Proper Noun 1: </label><input type="text" name="proper_noun1">
                <label>Proper Noun 2: </label><input type="text" name="proper_noun2">
                <label>Proper Noun 3: </label><input type="text" name="proper_noun3">
            </fieldset>
            <br/>
            <input class="submit" type="submit" value="Submit">
        </form>
    </main>
    </div>
</body>
